<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <diV style="width: 100%; max-width: 900px; height : 600px">
        <div id="main" style="width:100%; height: 100%; margin: 10px"></div>
    </diV>
    <label>Choose a type:</label>
    <select type="string" [(ngModel)]="currentType" (ngModelChange)="changeType()">
      <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
    </select>
    <div *ngIf="isLine" >
        <input type="radio" value="courbe" name="type" [(ngModel)]="lineType" (ngModelChange)="changeType()"> Courbe
        <input type="radio" value="step" name="type" [(ngModel)]="lineType" (ngModelChange)="changeType()"> Escalier
        <input type="radio" value="surface" name="type" [(ngModel)]="lineType" (ngModelChange)="changeType()"> Surface
        <input type="radio" value="aucun" name="type" [(ngModel)]="lineType" (ngModelChange)="changeType()"> Normal
    </div>
    <br>
    <input type="checkbox" value="true" [(ngModel)]="isDataSet" (ngModelChange)="changeType()"> DataSet
    <br><label>Choose the data:</label>
    <select type="string" [(ngModel)]="currentData" (ngModelChange)="changeData()">
      <option *ngFor="let data of datas" [ngValue]="data">{{data}}</option>
    </select>
<!--<div id="main2" style="width: 600px; min-height: 500px; margin: 70px"></div>
<data>
    <abscisse>
        dat
    </abscisse>
    <valeurs>
        <ind id='0' precision='0' type='N'>
            <ligne>20210411|20210411§gtmed|5016532§gatpr|2134784§gttde|718048§sgruc|700275§qlech|629934§garef|554327§gaflc|542830§gtdft|525746§gtctr|511646§gapfl|480077§gafld|464827§oecad|463357§gtlil|452151§oehec|451825§sacaf|433660§svcvt|418614§ocmvc|397879§gtprc|393342§sklms|367729§svcvf|361127
            </ligne>
        </ind>
    </valeurs>
    <entetes>
        <i0 id='gtmed'>GTMED-Détails d'une mise en forme</i0>
        <i0 id='gatpr'>GATPR-Trace des personnalisations ouvertes</i0>
        <i0 id='gttde'>GTTDE-Evènements enregistrés</i0>
        <i0 id='sgruc'>SGRUC-Rubriques de commandes</i0>
        <i0 id='qlech'>QLECH-Echéance</i0>
        <i0 id='garef'>GAREF-Référencements des requêtes et libellés d'une transaction</i0>
        <i0 id='gaflc'>GAFLC-Caractéristiques personnalisables des champs</i0>
        <i0 id='gtdft'>GTDFT-Valeurs par défaut</i0>
        <i0 id='gtctr'>GTCTR-Critères de soumission des traitements</i0>
        <i0 id='gapfl'>GAPFL-Champs d'une page</i0>
        <i0 id='gafld'>GAFLD-Champs</i0>
        <i0 id='oecad'>OECAD-Détails du calendrier</i0>
        <i0 id='gtlil'>GTLIL-Liens des libellés</i0>
        <i0 id='oehec'>OEHEC-Historique des étapes par classe</i0>
        <i0 id='sacaf'>SACAF-Conditions de facturation des commandes d'achats</i0>
        <i0 id='svcvt'>SVCVT-Textes des commandes de ventes</i0>
        <i0 id='ocmvc'>OCMVC-Mouvements comptables</i0>
        <i0 id='gtprc'>GTPRC-Dictionnaire des procédures Qualiac</i0>
        <i0 id='sklms'>SKLMS-Lignes de mouvements de stocks</i0>
        <i0 id='svcvf'>SVCVF-Conditions de facturation des commandes de ventes</i0>
    </entetes>
</data>
<metad>
    <global>
        <wsver>I1.01.00</wsver>
        <libres>Lignes par table</libres>
        <nbinds>1</nbinds>
        <ddr>20210411</ddr>
        <dfr>20210411</dfr>
        <hdr></hdr>
        <hfr></hfr>
        <libniv>Table</libniv>
        <level>01</level>
        <maxniv>1</maxniv>
        <peds selected='D'>
            <pedi>D</pedi>
            <pedl>Jour</pedl>
            <pedi>W</pedi>
            <pedl>Semaine</pedl>
            <pedi>M</pedi>
            <pedl>Mois</pedl>
            <pedi>Q</pedi>
            <pedl>Trimestre</pedl>
            <pedi>S</pedi>
            <pedl>Semestre</pedl>
            <pedi>Y</pedi>
            <pedl>Année</pedl>
            <pedi>A</pedi>
            <pedl>Aucune</pedl>
            <pedi>N</pedi>
            <pedl>Niveau</pedl>
        </peds>
        <syncval></syncval>
        <oneval>true</oneval>
    </global>
    <detail>
        <i0>
            <numind>QINFERENCESRVDEVDVT202</numind>
            <docind>indgti_qi202.html</docind>
            <appind>GTI</appind>
            <graph>column</graph>
            <libind>Lignes par table</libind>
            <libuni></libuni>
            <psv>O</psv>
            <extmin>0</extmin>
            <prmsync></prmsync>
        </i0>
    </detail>
</metad>-->
